{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}User Registration{% endblock %}


{% block content %}
<div class="col-md-3">
    <p class="lead">Welcome, {{ user.username }}!
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    </p>
</div>
<div class="col-md-9">
    <div class="well">
        
        <p><h2>Edit Report:</h2></p>
        
        <div class="form-group">
            <form class="login-form" role="form" method="post" action=".">{% csrf_token %}
                <div class="form-group">
                    {{form | crispy}}
                </div>
                <div class="text-left">
                    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-save"></span> | Save Changes</button>
                    <a class="btn btn-primary" href="{% url 'home' %}" role="button"><span class="glyphicon glyphicon-remove-sign"></span> | Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}
