{% extends "base_main.html" %}
{% load crispy_forms_tags %}

{% block title %}Dashboard{% endblock %}
{% block content %}


<div class="col-md-3">
    <p class="lead">Welcome, {{ user.username }}!
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    </p>
</div>

<div class="col-md-9">
    <div class="well">
        <p><h2>User's Information:</h2></p>
        <div class="form-group">
            <table>
                <tr>
                    <td><label>First Name:</label></td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td><label>Lastname:</label></td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td><label>Position:</label></td>
                    <td>{{ profile.position }}</td>
                </tr>
                <tr>
                    <td><label>Birthdate:</label></td>
                    <td>{{ profile.birthdate }}</td>
                </tr>
                <tr>
                    <td><label>Contact No:</label></td>
                    <td>{{ profile.phone }}</td>
                </tr>
                <tr>
                    <td><label>Address:</label></td>
                    <td>{{ profile.address }}</td>
                </tr>
                <tr>
                    <td><label>Date Joined:</label></td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                <tr>
                    <td><label>Age:</label></td>
                    <td>{{ age }}</td>
                </tr>
            </table>
        </div>
        <div class="form-group">
            <div class="text-left">
                <a class="btn btn-success" href="{% url 'edit_profile' %}"><span class="glyphicon glyphicon-edit"></span> | Edit Profile</a>
            </div>
            <hr>
            <table>
                <thead>
                    <th>
                        <tr>
                        {% if project %}
                            <p><h2>Current Project/s:</h2></p>
                        {% endif %}
                        </tr>
                    </th>
                </thead>
                <tbody>
                {% for list_project in project %}
                    <tr>
                        <td>
                        {{ list_project.name }} <a href=" {% url 'project_detail' list_project.id %}">View Details...</a>  
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}