{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Project{% endblock %}
{% block content %}


<div class="col-md-3">
    <p class="lead">Welcome, {{ user.username }}!
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    </p>
</div>

<div class="col-md-9">
    <div class="well">
        <h2>{{ user.first_name }} | Project | {{ data.name }}</h2>

        <div class="form-group">
            <div class="form-group">
                <b>Position: </b>{{ data.position }}

                <br>
                <b>Weekly Hours: </b>{{ data.weekly_hours}}
                <hr>
                <h2> Weekly Reports </h2>

                <div class="text-right">
                <a class="btn btn-primary" href="{% url 'add_report' data.id %}" role="button"><span class="glyphicon glyphicon-plus-sign"></span> | Add Report</a>
                <a class="btn btn-primary" href="{% url 'home' %}" role="button"><span class="glyphicon glyphicon-home"></span> | Back</a>
                </div>

                {% for report in reports %}
                       
                <div class="jumbotron">
                    <div class="form-group">
                        <p>
                        <label>Title: </label>{{ report.title }}<br>
                        <label>Date: </label>{{ report.date_track }}<br>
                        </p>
                        
                        <table>
                            <tr>
                                <td><label>What i did?:</label></td>
                                <td>{{ report.question1 }}</td>
                            </tr>
                            <tr>
                                <td><label>What to do?:</label></td>
                                <td>{{ report.question2 }}</td>
                            </tr>
                            <tr>
                                <td><label>Issues / Blocker:</label></td>
                                <td>{{ report.question3 }}</td>
                            </tr>
                            <tr>
                                <td><label>Weekly hours:</label></td>
                                <td>{{ report.time_track }}</td>
                            </tr>
                        </table>
                    </div>
                    
                    <div class="text-left">
                        <a class="btn btn-success" href="{% url 'edit_report' data.id report.id %}"><span class="glyphicon glyphicon-edit"></span> | Edit Report</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}