{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Project{% endblock %}
{% block content %}


<div class="col-md-3">
    <p class="lead">Welcome, {{ user.username }}!
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    <span class="glyphicon glyphicon-menu-right"></span>
    </p>
</div>

<div class="col-md-9">
    <div class="well">
        <h2>{{ user.first_name }} | Project | {{ data.name }}</h2>

        <div class="form-group">
            <div class="form-group">
                <b>Position: </b>{{ data.position }}

                <br>
                <b>Weekly Hours: </b>{{ data.weekly_hours}}
                <hr>
                <h2> Weekly Reports </h2>

                <div class="text-right">
                <a class="btn btn-primary" href="{% url 'add_report' data.id %}" role="button"><span class="glyphicon glyphicon-plus-sign"></span> | Add Report</a>
                <a class="btn btn-primary" href="{% url 'home' %}" role="button"><span class="glyphicon glyphicon-home"></span> | Back</a>
                </div>

                {% for report in reports %}
                       
                <div class="jumbotron">
                    <p>
                    <label>Title: </label>{{ report.title }}<br>
                    <label>Date: </label>{{ report.date_track }}<br>
                    </p>
                    <label>What i did?: </label>{{ report.question1 }}<br>
                    <label>What to do?: </label>{{ report.question2 }}<br>
                    <label>Issues / Blocker: </label>{{ report.question3 }}<br>
                    <label>Weekly hours: </label>{{ report.time_track }}<br>
                    <div class="text-left">
                        <a class="btn btn-success" href="{% url 'edit_report' data.id report.id %}"><span class="glyphicon glyphicon-edit"></span> | Edit Report</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}