{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    
<div class="col-md-3">
    <div class="form-top">
        <div class="form-top-left">
            <h3>User Login</h3>
        </div>
        <div class="form-top-right">
            <span class="glyphicon glyphicon-log-in"></span>
        </div>
    </div>
    <div class="form-bottom">
        {% if form.errors %}
        <p>Invalid username or password.<br> Please try again.</p>
        {% endif %}
        <form class="login-form" role="form" method="post" action=".">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-group">
                    <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" required />
                </div>
                <div class="form-group">
                    <input id="id_password" name="password" type="password" placeholder="Password" required />
                </div>

                <input type="hidden" name="next" value="/home" />

                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Log-in</button>
                </div>
            </div>
            <p><h5>Not Registered?<a href="/register">CLICK HERE</a></h5></p>
        </form>
    </div>
</div>

<div class="col-md-9">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                Anonymous
                <span class="pull-right">10 days ago</span>
                <p>This product was great in terms of quality. I would definitely buy another!</p>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}